<table>
        <tr valign="top">
            <td>{{ task.title }}</td></br>
            <td>{{ task.timestamp }}</td></br>
        </tr>
        {% if t1 %}
            <tr>
            <td>{{ t1.link }}</td></br>
            </tr>
        {% endif %}
        <tr>
            <p><td><a href="{{ url_for('fullview', task_id=task.id) }}">View Details</a></td></p>
            <p><td><a href="{{ url_for('delete_task', title=task.title) }}">Delete</a></td></p>
            <p><td><a href="{{ url_for('delete_task', title=task.title) }}">Mark Completed</a></td></p>
        </tr>
</table>
