{% extends "base.html" %}

{% block content %}
  
    <table>
        
        {% if t1 %}
        <div class="card text-center">
            <div class="card-header">
              <h4>Full details of {{ task.title }}</h4>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ task.timestamp }}</h5>
              <p><a href="{{ t1.link }}" class="card-text btn btn-outline-primary">meeting link</a></p>
              
              <p class="card-text">{{ t1.desc }}</p>
              <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
              <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
             
              <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
         
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        {% endif %}

        {% if t2 %}
        <div class="card text-center">
          <div class="card-header">
            <h4>Full details of {{ task.title }}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ t2.date }}</h5>
            <p class="card-text">{{ t2.desc }}</p>
            <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
           
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
       
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
           
        {% endif %}

        {% if t3 %}
        <div class="card text-center">
          <div class="card-header">
            <h4>Full details of {{ task.title }}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ t3.start_date }}-{{ t3.end_date }}</h5>
            <p class="card-text">{{ t3.source }}</p>
            <p>to</p>
            <p class="card-text">{{ t3.destination }}</p>
            
            <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
           
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
       
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
           
        {% endif %}

        {% if t4 %}
        <div class="card text-center">
          <div class="card-header">
            <h4>Full details of {{ task.title }}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ task.timestamp }}</h5>
            <p class="card-text">{{ t4.name }}</p>
            
            <p class="card-text">{{ t4.location }}</p>
            <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
           
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
       
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        
        {% endif %}

        {% if t5 %}
        <div class="card text-center">
          <div class="card-header">
            <h4>Full details of {{ task.title }}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ t5.time }}</h5>
            <p class="card-text">{{ t5.desc }}</p>
            <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
           
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
       
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
           
        {% endif %}

        {% if t6 %}
        <div class="card text-center">
          <div class="card-header">
            <h4>Full details of {{ task.title }}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ task.timestamp }}</h5>
           
            <p class="card-text">{{ t6.name }}</p>
            
            <p class="card-text">{{ t6.location }}</p>
            <p class="card-text">{{ t6.desc }}</p>
            <a href="{{ url_for('fullview', task_id=task.id) }}" class="card-link">View Details</a>
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Delete</a>
           
            <a href="{{ url_for('delete_task', id=task.id) }}" class="card-link">Mark Completed</a>
       
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        
        
        {% endif %}

    </table>


{% endblock %}

