{% extends "base.html" %}

{% block content %}
    <h1>Add Task Details</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Enter Time<br>
            {{ form.start_time() }}
        </p>
        <p>
            {{ form.desc.label }}<br>
            {{ form.desc(cols=32, rows=4) }}<br>
            {% for error in form.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}  <a href="{{ url_for('delete_task',task_title) }}">Cancel</a></p>
    </form>
{% endblock %}
