{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</h1>
    </br>
   <div class="container">
    <div class="col-lg-4 card">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="card-header">
            Featured
          </div>

        <div class="card-body d-grid gap-2 col-9 mx-auto">
        
            {{ form.index(class="btn btn-outline-primary") }}<br>
        
            
            {{ form.onlme(class="btn btn-outline-secondary") }}<br>
        
        
           
            {{ form.projs(class="btn btn-outline-success") }}<br>
        
            
            {{ form.travl(class="btn btn-outline-danger") }}<br>
        
           
            {{ form.movie(class="btn btn-outline-info") }}<br>
        
            
            {{ form.birth(class="btn btn-outline-dark") }}<br>
        
          
            {{ form.gentk(class="btn btn-outline-dark") }}<br>
        
    </div>
    </form>
</div>
<div class="col-lg-4">
    {% for task in tasks %}
        {% include '_task.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}
