{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</h1>
    <p><a href="{{ link }}">Click here to join the meeting</a></p>
    </br>
    </br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.onlme.label }}<br>
            {{ form.onlme() }}<br>
        </p>
        <p>
            {{ form.projs.label }}<br>
            {{ form.projs() }}<br>
        </p>
        <p>
            {{ form.travl.label }}<br>
            {{ form.travl() }}<br>
        </p>
        <p>
            {{ form.movie.label }}<br>
            {{ form.movie() }}<br>
        </p>
        <p>
            {{ form.birth.label }}<br>
            {{ form.birth() }}<br>
        </p>
        <p>
            {{ form.gentk.label }}<br>
            {{ form.gentk() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for task in tasks %}
        {% include '_task.html' %}
    {% endfor %}
{% endblock %}
