{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</h1>
    </br>
    </br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.index.label }}<br>
            {{ form.index(size=20) }}<br>
        </p>
        <p>
            {{ form.onlme.label }}<br>
            {{ form.onlme(size=20) }}<br>
        </p>
        <p>
            {{ form.projs.label }}<br>
            {{ form.projs(size=20) }}<br>
        </p>
        <p>
            {{ form.travl.label }}<br>
            {{ form.travl(size=20) }}<br>
        </p>
        <p>
            {{ form.movie.label }}<br>
            {{ form.movie(size=20) }}<br>
        </p>
        <p>
            {{ form.birth.label }}<br>
            {{ form.birth(size=20) }}<br>
        </p>
        <p>
            {{ form.gentk.label }}<br>
            {{ form.gentk(size=20) }}<br>
        </p>
    </form>
    {% for task in tasks %}
        {% include '_task.html' %}
    {% endfor %}
{% endblock %}
